%h2 Welcome to our site! Here is a list of users.
%p.bodycopy (Just checking database access here.)
- @users.each do |user|
  %p.bodycopy #{link_to user.name, user}
%p.bodycopy Next up, trying to create some vibes!


